<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Comulus UI</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

</head>

<body>

  <div id="app">
    <v-app>
      <v-content>
        <v-container>
          <template>
            <v-banner single-line @click:icon="logdebhuv">
              <v-icon slot="icon" color="primary" size="36">
                mdi-cloud
              </v-icon>
              Conect to salesforce Devhub
              
              <v-form ref="form"  v-model="validdevhub":lazy-validation="lazy">
                <v-text-field label="Devhub Alias" v-model="devhubAlias" :rules="devhubrules" hide-details="auto">
                </v-text-field>
              </v-form>
              <template v-slot:actions>
                <v-btn color="primary" text v-if="logedtoDevhub">
                  Connected
                </v-btn>
                <v-btn color="primary" v-on:click="logdebhuv" text v-else>
                  Connect
                </v-btn>
              </template>
            </v-banner>
          </template>
        </v-container>
      </v-content>
    </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script>
    const { ipcRenderer } = require('electron');
    var app = new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      data: {
        devhub: false,
        devhubrules: [
          value => !!value || 'Required.',
          value => (value && value.length >= 3) || 'Min 3 characters',
        ],
        devhubAlias: null,
        validdevhub: true,
        lazy:false
      },
      methods: {
        logdebhuv() {
          
          this.$refs.form.validate();
          if(this.validdevhub ===true){
            console.log(this.devhubAlias)
            ipcRenderer.send('loging:devhub', {alias: this.devhubAlias});
          }else{
            console.log('hay errores')
            console.log(this.devhubAlias)
          }
          
        },
      },
      computed: {
        logedtoDevhub: function () {
          return this.devhub
        }
      },
    })


    ipcRenderer.on('devhubloged', function (event, loged) {
      app.devhub = true
    });

  </script>
</body>

</html>